
<br/>
<br/>
<br/>
<br/>
<div class="row" style="display:block;" id="demoGratis" >
        <div class="col-md-3" >
        </div>
        
        <div class="col-md-6" class="putHeightRows" style="position:relative;min-height: 800px;overflow:hidden;">
            <label id="texto15Dias">Puedes conectarte a una cuenta NubePOS <br/> para ver tus datos en la nube y manejar invetarios</label>
            <div class="modal-content text-center" id="animaRegister" style="min-height: 263px;width:100%;position:absolute;left:0px;top:0px;">
                <div class="modal-header" style="background-image: url(http://www.practipos.com/img/parallax-bg.jpg);padding-top: 35px;
                    padding-bottom: 35px;
                    color: #fff;
                    border-radius: 4px 4px 0 0;
                    background-position: center top;font-size: 40px;    padding: 15px;
                    border-bottom: 1px solid #e5e5e5;
                    min-height: 16.42857143px;">
                  NubePOS
                </div>
            <div class="modal-body" style="min-height: 266px;">
             <div id="divdatoslogin" style="overflow:auto;">
              <h3 style="-webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;">Solicita tu NubePOS  </h3>
             <!-- <span class="subtitle" style=" margin-bottom: 36px; margin-top: 0;font-size:16px;color:#9a9a9a;">No necesitas tarjeta de crédito</span><br><br>-->
             
             <!--  <div class="form-group">
              <input class="form-control input-lg" type="text" name="nombres" id="nombres" placeholder="Tu nombre completo" required="" autocomplete="off">
            </div>-->
            <div class="form-group">
              <input type="form-control input-lg" name="empresa"  class="form-control input-lg" id="newEmpresa" placeholder="Nombre de tu Negocio" required="" autocomplete="off">
            </div>

            <div class="form-group">
              <input class="form-control input-lg" type="email" name="email" id="newEmail" placeholder="E-mail" required="" autocomplete="off">
            </div>

           

<!--
            <div class="form-group">
              <input type="text" name="telefono" id="telefono" class="form-control input-lg" placeholder="Teléfono" required="" autocomplete="off">
            </div>
        -->
         <div class="form-group">
              <input type="password" name="pass" id="newPass"  class="form-control input-lg" placeholder="Ingresa una contraseña" required="" autocomplete="off">
            </div>
             <div class="form-group">
              <input type="password" name="pass" id="newConfirm"  class="form-control input-lg" placeholder="Confirma tu contraseña" required="" autocomplete="off">
            </div>
            <!--
            <div class="form-group">
              <input type="form-control input-lg" name="empresa" id="empresa" class="form-control input-lg" placeholder="Nombre de tu Negocio" required="" autocomplete="off">
            </div>
        -->

           <!-- <div class="form-group">
              <textarea style="height: 80px;" id="observacion" name="observacion" class="form-control input-lg" placeholder="Observaciones" required="" autocomplete="off"></textarea>
            </div>
        -->
            
            
            <div class="form-group">
                    <a data-toggle="modal" data-target="#recuperarPass" onclick="mostrarSignIn();" href="">¿Ya tienes cuenta NubePOS?</a><br/> 
            </div>
                
            
<input class="btn btn-md btn-primary btn-center" type="button" id="btnNewEmp" value="Enviar" onclick="registrarUser();">
              </div>
              
              <div id="varias">
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-3" >
        <div id="mensaje2"></div>
        <input id="user" type="hidden" />
        <input id="pass" type="hidden" />
        </div>
        
      </div> <!--End row -->